<!doctype html>
<html lang="en" ng-app="GuardSwiftApp">
<head>
<meta charset="utf-8">
<title>GuardSwift</title>

<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/signin.css">

<link rel="stylesheet" href="css/ng-table.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

</head>
<body>

	<div class="ng-cloak" ng-controller="MainCtrl">

		<div class="navbar navbar-inverse navbar-fixed-top"
			ng-hide="$routeSegment.startsWith('login')">
			<div class="container">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#/home">GuardSwift</a>
					</div>


					<button ng-if="ParseAccount.isLoggedIn()" type="button"
						class="navbar-right btn btn-default navbar-btn"
						ng-click="logout()">{{'LOGOUT' | translate}}</button>

					<ul class="nav navbar-nav">
						<!--<li ng-class="{active: $routeSegment.startsWith('home')}"><a
						href="#/home">Hjem</a></li> -->
						<li ng-class="{active: $routeSegment.contains('guards')}"><a
							href="#/crud/guards">{{'GUARDS' | translate}}</a></li>
						<li ng-class="{active: $routeSegment.contains('clients')}"><a
							href="#/crud/clients">{{'CLIENTS' | translate}}</a></li>
						<li ng-class="{active: $routeSegment.contains('circuits')}"><a
							href="#/crud/circuits">{{'CIRCUITS' | translate}}</a></li>
						<li ng-class="{active: $routeSegment.contains('circuitunits')}"><a
							href="#/crud/circuitunits">{{'CIRCUITUNITS' | translate}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="content">
		<div class="row anim" app-view-segment="0"></div>
	</div>

	<div id=loading class=alert ng-show="loader.show">Loading...</div>
	


	<!-- JQuery -->
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<!-- Parse -->
	<script type="text/javascript"
		src="http://www.parsecdn.com/js/parse-1.2.17.min.js"></script>

	<!-- Angular -->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-animate.js"></script>

	<!-- Angular helper libraries -->
	<script src="lib/ng-table.min.js"></script>
	<script src="lib/parse-angular.js"></script>
	<script src="lib/angular-route-segment.js"></script>
	<script src="lib/angular-translate.js"></script>
	<script src="lib/route-styles.js"></script>
	<script src="lib/bootstrap.js"></script>
	<script src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
	<!-- <script src="//mgcrea.github.io/angular-strap/static/scripts/angular-strap.min.js"></script>
    <script src="//mgcrea.github.io/angular-strap/static/scripts/angular-strap.tpl.min.js"></script> -->

	<!-- Internal libraries -->
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>


</body>
</html>
