<a ng-if="!crudObject.$edit" ng-hide="performingEdit" href=""
	class="btn btn-default btn-sm"
	ng-click="crudObject.$edit = true; edit(crudObject)">Edit</a>
<a ng-if="!crudObject.$edit" ng-hide="performingEdit" href=""
	class="btn btn-default btn-sm" ng-click="remove(crudObject)">Delete</a>
<a ng-if="crudObject.$edit" href="" class="btn btn-primary btn-sm"
	ng-click="crudObject.$edit = false; save(crudObject)">Save</a>
<a ng-if="crudObject.$edit" href="" class="btn btn-primary btn-sm"
	ng-click="crudObject.$edit = false; save()">Cancel</a>